In [2]:
from pandas import DataFrame
import pandas as pd

In [4]:
with open('2008.csv') as file:
    data = pd.read_csv(file, delimiter=',')
df = pd.DataFrame(data)
df.head(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,6,18,3,2111.0,2055,2308.0,2300,WN,242,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,6,4,3,1426.0,1410,1730.0,1728,XE,2380,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,8,3,7,1143.0,1145,1501.0,1520,WN,1769,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,23,3,1141.0,1144,1323.0,1335,OO,3802,...,4.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,5,4,7,815.0,820,1243.0,1300,WN,399,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
#1.	Какая из причин отмены рейса (CancellationCode) была самой частой?
print(df['CancellationCode'].mode())

0    A
Name: CancellationCode, dtype: object

In [13]:
#2.	Найдите среднее, минимальное и максимальное расстояние, пройденное самолетом.
print(f"Среднее: {df['Distance'].mean()}")
print(f"Минимальное: {df['Distance'].max()}")
print(f"Максимальное: {df['Distance'].min()}")

Среднее: 724.5082571428571
Минимальное: 4962
Максимальное: 31

In [15]:
#3.	Не выглядит ли подозрительным минимальное пройденное расстояние? В какие дни и на каких рейсах оно было? Какое расстояние было пройдено этими же рейсами в другие дни?
min_d = df[df['Distance'] == df['Distance'].min()]
x = df[(df['FlightNum'].isin(min_d['FlightNum'])) & (df['DayofMonth'] != min_d.iloc[0]['DayofMonth'])]
print(f"Рейс {min_d.iloc[0]['FlightNum']}. День {min_d.iloc[0]['DayofMonth']}.")
print(f"Расстояние на этом рейсе в другие дни: {x['Distance'].unique()}")

рейс 65. День 30.
Расстояние на этом рейсе в другие дни: [ 533  680 2381   82 1005  123  359   31 1747  571  372 2454  581  883
  281  682  414  386]

In [20]:
#4.	Из какого аэропорта было произведено больше всего вылетов? В каком городе он находится?
print(f"{df['Origin'].value_counts().idxmax()}")
print(f"{df[df['Origin'] == df['Origin'].value_counts().idxmax()]['Dest'].iloc[0]}")

ATL
PHF

In [40]:
#5.	Найдите для каждого аэропорта среднее время полета (AirTime) по всем вылетевшим из него рейсам. Какой аэропорт имеет наибольшее значение этого показателя?
print(f"{df.groupby('Origin')['AirTime'].mean()}")
print()
print(f"{df.groupby('Origin')['AirTime'].mean().idxmax()}")

Origin
ABE    88.266667
ABI    36.400000
ABQ    93.454321
ABY    35.714286
ACK    50.800000
         ...
WRG    18.000000
XNA    85.945736
YAK    35.900000
YKM    79.000000
YUM    47.470588
Name: AirTime, Length: 297, dtype: float64

SJU

In [42]:
#6.	Найдите аэропорт, у которого наибольшая доля задержанных (DepDelay > 0) рейсов. Исключите при этом из рассмотрения аэропорты, из которых было отправлено меньше 1000 рейсов (используйте функцию filter после groupby).
a = df[df['DepDelay'] > 0].groupby('Origin')['DepDelay'].count()
b = df.groupby('Origin')['DepDelay'].count()
c = a/b
d = c[b >= 1000]
e = d.idxmax()
f = d.max()
print(f"Аэропорт - {e} Доля - {f}")

Аэропорт - EWR Доля - 0.5286671630677587