In [502]:
#Handling Missing Data

In [503]:
import numpy as np
import pandas as pd

In [504]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [505]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [506]:
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [507]:
#Filtering Out Missing Data

In [508]:
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [509]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [623]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [511]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [512]:
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [513]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [624]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0  1.007189       NaN       NaN
1  0.228913       NaN       NaN
2 -2.001637       NaN  1.669025
3 -0.438570       NaN  0.476985
4  3.248944 -1.021228 -0.577087
5  0.124121  0.302614  0.523772
6  0.000940  1.343810 -0.713544

In [625]:
df.dropna()

          0         1         2
4  3.248944 -1.021228 -0.577087
5  0.124121  0.302614  0.523772
6  0.000940  1.343810 -0.713544

In [626]:
df.dropna(thresh=2)

          0         1         2
2 -2.001637       NaN  1.669025
3 -0.438570       NaN  0.476985
4  3.248944 -1.021228 -0.577087
5  0.124121  0.302614  0.523772
6  0.000940  1.343810 -0.713544

In [627]:
#Filling In Missing Data

In [628]:
df.fillna(0)

          0         1         2
0  1.007189  0.000000  0.000000
1  0.228913  0.000000  0.000000
2 -2.001637  0.000000  1.669025
3 -0.438570  0.000000  0.476985
4  3.248944 -1.021228 -0.577087
5  0.124121  0.302614  0.523772
6  0.000940  1.343810 -0.713544

In [629]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0  1.007189  0.500000  0.000000
1  0.228913  0.500000  0.000000
2 -2.001637  0.500000  1.669025
3 -0.438570  0.500000  0.476985
4  3.248944 -1.021228 -0.577087
5  0.124121  0.302614  0.523772
6  0.000940  1.343810 -0.713544

In [630]:
_ = df.fillna(0, inplace=True)
df

          0         1         2
0  1.007189  0.000000  0.000000
1  0.228913  0.000000  0.000000
2 -2.001637  0.000000  1.669025
3 -0.438570  0.000000  0.476985
4  3.248944 -1.021228 -0.577087
5  0.124121  0.302614  0.523772
6  0.000940  1.343810 -0.713544

In [521]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0 -0.831154 -2.370232 -1.860761
1 -0.860757  0.560145 -1.265934
2  0.119827       NaN  0.332883
3 -2.359419       NaN -1.541996
4 -0.970736       NaN       NaN
5  0.377984       NaN       NaN

In [522]:
df.fillna(method='ffill')

          0         1         2
0 -0.831154 -2.370232 -1.860761
1 -0.860757  0.560145 -1.265934
2  0.119827  0.560145  0.332883
3 -2.359419  0.560145 -1.541996
4 -0.970736  0.560145 -1.541996
5  0.377984  0.560145 -1.541996

In [523]:
df.fillna(method='ffill', limit=2)

          0         1         2
0 -0.831154 -2.370232 -1.860761
1 -0.860757  0.560145 -1.265934
2  0.119827  0.560145  0.332883
3 -2.359419  0.560145 -1.541996
4 -0.970736       NaN -1.541996
5  0.377984       NaN -1.541996

In [524]:
data = pd.Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [525]:
#Data Transformation

In [526]:
#Removing Duplicates

In [631]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [632]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [633]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [634]:
data['v1'] = range(7)
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [531]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

In [532]:
#Transforming Data Using a Function or Mapping

In [635]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami', 'corned beef', 'Bacon', 'pastrami', 'honey ham', 'nova lox'], 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [636]:
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}

In [637]:
lowercased = data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [638]:
data['animal'] = lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [537]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [538]:
#Replacing Values

In [539]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [540]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [541]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [542]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [543]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [544]:
#Renaming Axis Indexes

In [545]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
transform = lambda x: x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [546]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [547]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [548]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [549]:
_ = data.rename(index={'OHIO': 'INDIANA'}, inplace=True)
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

In [550]:
#Discretization and decomposition

In [551]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [552]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [553]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [554]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [555]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64, left]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [556]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

In [557]:
data = np.random.rand(20)
pd.cut(data, 4, precision=2)

[(0.79, 0.97], (0.6, 0.79], (0.79, 0.97], (0.41, 0.6], (0.22, 0.41], ..., (0.6, 0.79], (0.22, 0.41], (0.41, 0.6], (0.22, 0.41], (0.22, 0.41]]
Length: 20
Categories (4, interval[float64, right]): [(0.22, 0.41] < (0.41, 0.6] < (0.6, 0.79] < (0.79, 0.97]]

In [558]:
data = np.random.randn(1000)
cats = pd.qcut(data, 4)
cats

[(0.62, 3.928], (-2.9499999999999997, -0.684], (0.62, 3.928], (0.62, 3.928], (0.62, 3.928], ..., (-2.9499999999999997, -0.684], (0.62, 3.928], (-0.0265, 0.62], (-0.0265, 0.62], (-2.9499999999999997, -0.684]]
Length: 1000
Categories (4, interval[float64, right]): [(-2.9499999999999997, -0.684] < (-0.684, -0.0265] < (-0.0265, 0.62] < (0.62, 3.928]]

In [559]:
pd.value_counts(cats)

(-2.9499999999999997, -0.684]    250
(-0.684, -0.0265]                250
(-0.0265, 0.62]                  250
(0.62, 3.928]                    250
dtype: int64

In [560]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])

[(1.287, 3.928], (-2.9499999999999997, -1.187], (-0.0265, 1.287], (-0.0265, 1.287], (-0.0265, 1.287], ..., (-2.9499999999999997, -1.187], (-0.0265, 1.287], (-0.0265, 1.287], (-0.0265, 1.287], (-1.187, -0.0265]]
Length: 1000
Categories (4, interval[float64, right]): [(-2.9499999999999997, -1.187] < (-1.187, -0.0265] < (-0.0265, 1.287] < (1.287, 3.928]]

In [561]:
#Detecting and Filtering Outliers

In [562]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.045383     0.024079    -0.004794    -0.050389
std       0.997796     1.008737     0.996599     0.996706
min      -3.645860    -3.184377    -3.745356    -3.428254
25%      -0.600254    -0.612162    -0.697084    -0.747478
50%       0.040150    -0.013609    -0.029924    -0.088274
75%       0.746527     0.690847     0.699046     0.623331
max       2.653656     3.525865     2.735527     3.366626

In [563]:
col = data[2]
col[np.abs(col) > 3]

38    -3.399312
133   -3.745356
Name: 2, dtype: float64

In [564]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
38   0.457246 -0.025907 -3.399312 -0.974657
57   1.951312  3.260383  0.963301  1.201206
133  0.508391 -0.196713 -3.745356 -1.520113
232 -0.242459 -3.056990  1.918403 -0.578828
255  0.682841  0.326045  0.425384 -3.428254
319  1.179227 -3.184377  1.369891 -1.074833
541 -3.548824  1.553205 -2.186301  1.277104
632 -0.578093  0.193299  1.397822  3.366626
779 -0.207434  3.525865  0.283070  0.544635
800 -3.645860  0.255475 -0.549574 -1.907459

In [565]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.046577     0.023534    -0.003650    -0.050328
std       0.993777     1.005496     0.992788     0.994152
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.600254    -0.612162    -0.697084    -0.747478
50%       0.040150    -0.013609    -0.029924    -0.088274
75%       0.746527     0.690847     0.699046     0.623331
max       2.653656     3.000000     2.735527     3.000000

In [566]:
np.sign(data).head()

     0    1    2    3
0 -1.0 -1.0  1.0 -1.0
1 -1.0  1.0 -1.0 -1.0
2  1.0 -1.0  1.0 -1.0
3  1.0 -1.0  1.0 -1.0
4 -1.0 -1.0 -1.0 -1.0

In [567]:
#Permutation and Random Sampling

In [568]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
sampler = np.random.permutation(5)
sampler

array([2, 4, 1, 0, 3])

In [569]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [570]:
df.take(sampler)

    0   1   2   3
2   8   9  10  11
4  16  17  18  19
1   4   5   6   7
0   0   1   2   3
3  12  13  14  15

In [571]:
df.sample(n=3)

    0   1   2   3
2   8   9  10  11
4  16  17  18  19
1   4   5   6   7

In [572]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

4    4
1    7
2   -1
3    6
4    4
1    7
4    4
0    5
3    6
0    5
dtype: int64

In [573]:
#Computing Indicator Variables

In [574]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'], 'data1': range(6)})
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [575]:
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [576]:
mnames = ['move_id', 'title', 'genres']
movies = pd.read_table('movies.dat', sep='::', header=None, names=mnames)

/var/folders/t1/pt8lfl0s2rz_z_7z9cbm9f5r0000gn/T/ipykernel_7791/2194098160.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table('movies.dat', sep='::', header=None, names=mnames)

In [577]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)
genres

array(['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical',
       'Film-Noir', 'Western', '(no genres listed)'], dtype=object)

In [578]:
zero_matrix = np.zeros((len(movies), len(genres)))
dummies = pd.DataFrame(zero_matrix, columns=genres)

In [579]:
gen = movies.genres[0]
gen.split('|')

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']

In [580]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2, 3, 4])

In [581]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [582]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

move_id                                                               1
title                                                  Toy Story (1995)
genres                      Adventure|Animation|Children|Comedy|Fantasy
Genre_Adventure                                                     1.0
Genre_Animation                                                     1.0
Genre_Children                                                      1.0
Genre_Comedy                                                        1.0
Genre_Fantasy                                                       1.0
Genre_Romance                                                       0.0
Genre_Drama                                                         0.0
Genre_Action                                                        0.0
Genre_Crime                                                         0.0
Genre_Thriller                                                      0.0
Genre_Horror                                                        0.0
Genre_Mystery                                                       0.0
Genre_Sci-Fi                                                        0.0
Genre_IMAX                                                          0.0
Genre_Documentary                                                   0.0
Genre_War                                                           0.0
Genre_Musical                                                       0.0
Genre_Film-Noir                                                     0.0
Genre_Western                                                       0.0
Genre_(no genres listed)                                            0.0
Name: 0, dtype: object

In [583]:
np.random.seed(12345)
values = np.random.rand(10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [584]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

In [585]:
#String Manipulation

In [586]:
#methods string object

In [587]:
val = 'a,b, guido'
val.split(',')

['a', 'b', ' guido']

In [588]:
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [589]:
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

In [590]:
'::'.join(pieces)

'a::b::guido'

In [591]:
'guido' in val

True

In [592]:
val.index(',')

1

In [593]:
val.find(':')

-1

In [594]:
val.index(':')

ValueError: substring not found

In [595]:
val.replace(',', '::')

'a::b:: guido'

In [596]:
val.replace(',', '')

'ab guido'

In [597]:
#Regular Expressions

In [598]:
import re

In [599]:
text = "foo    bar\t baz  \tqux"
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [600]:
regex = re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [601]:
regex.findall(text)

['    ', '\t ', '  \t']

In [602]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@gmail.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [603]:
#ignorecase flag

In [604]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [605]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@gmail.com']

In [606]:
m = regex.search(text)
m

In [607]:

text[m.start():m.end()]

'dave@google.com'

In [608]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [609]:
pattern = r'([A–Z0–9._%+–]+)@([A–Z0–9.–]+)\.([A–Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [610]:
m = regex.match('wesm@bright.net')
m.groups()

AttributeError: 'NoneType' object has no attribute 'groups'

In [611]:
regex.findall(text)

[]

In [612]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@gmail.com

In [613]:
#Vectorized String Functions in pandas

In [614]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [615]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [616]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [617]:
pattern

'([A–Z0–9._%+–]+)@([A–Z0–9.–]+)\\.([A–Z]{2,4})'

In [618]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave      []
Steve     []
Rob       []
Wes      NaN
dtype: object

In [619]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     False
Steve    False
Rob      False
Wes        NaN
dtype: object

In [620]:
matches.str.get(1)

AttributeError: Can only use .str accessor with string values!

In [621]:
matches.str[0]

AttributeError: Can only use .str accessor with string values!

In [622]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object